@{
    ViewBag.Title = "Acerca de";
}
<hr />
<h2>@ViewBag.Title.</h2>
<h3>Med Evolution es un sistema de clinicas interconectadas a una sola base de datos
    lo que te permite ir a cualquiera de nuestras sucursales para ser atendido por
    nuestro personal altamente Capacitado</h3>

<div class="table-bordered"  >
    <div class="col-lg-4">
        <img src="~/Imagenes/oficina.jpg" width="350" height="350" />
    </div>
    <div class="col-lg-4">
        <img src="~/Imagenes/recepcion.jpg" width="350" height="350" />
    </div>
    <div class="col-lg-4">
        <img src="~/Imagenes/rayos.jpg" width="350" height="350" />
    </div>
</div>
